{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
            I am a results-driven and curious tech enthusiast with a Master’s degree in Computer Applications and a solid
            foundation in programming, data handling, and AI tools. With hands-on experience as a Search Result
            Evaluator at Apple Music, I specialize in analyzing and optimizing digital content relevance. I’ve also
            developed multiple automation projects using Python, APIs, and web scraping tools to streamline processes
            and solve real-world problems.

        </p>
        <p>
          My strengths lie in logical thinking, problem-solving, and quick learning, supported by a diverse tech stack
          including Python, SQL, JavaScript, Flask, and cloud technologies. I’m passionate about using technology to
          create meaningful solutions and am constantly exploring new ways to expand my skills—especially in AI,
          automation, and web development.

        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
